<div class="toolbar">

    <button (click)="simulationService.setTool(EditorTool.Select)">
        Select
    </button>

    <input
    #fileInput
    type="file"
    accept=".json"
    hidden
    (change)="onFileSelected($event)">

<button (click)="fileInput.click()">
    Upload JSON
</button>

    <button (click)="removeJson()">
    Remove JSON
</button>

 <!-- Filters Button -->
    <div class="filter-container">

        <button (click)="toggleFilters()">
            Filters ▼
        </button>

        @if (showFilters) {

            <div class="filter-dropdown">

                @for (type of entityTypes; track type) {
                   <div class="filter-item">
                    <label>

                        <input
                            type="checkbox"
                            [checked]="filterService.isVisible(type)"
                            (change)="toggleEntityType(type, $event)">

                        {{ type }}

                    </label>
                   </div>

                }

            </div>

        }

    </div>

     <div class="team-controls">

    <button
        [class.active]="isBlueSelected()"
        (click)="selectBlue()">

        🔵 Blue

    </button>

    <button
        [class.active]="isRedSelected()"
        (click)="selectRed()">

        🔴 Red

    </button>

</div>
<button (click)="scenarioService.saveScenario()">
    Save Scenario
</button>
<button (click)="scenarioService.clearScenario()">
    Clear 
</button>
<input
    #scenarioInput
    type="file"
    accept=".json"
    hidden
    (change)="onScenarioSelected($event)">
    <span class="spacer"></span>
    <button (click)="scenarioInput.click()">
    Load Scenario
</button>


     <button (click)="simulationService.showSplit()">
    Split
</button>

<button (click)="simulationService.showLeaflet()">
    Full 2D
</button>

<button (click)="simulationService.showCesium()">
    Full 3D
</button>

</div>